#create-carousel-trigger-btn-left {
  border: none;
}

#create-carousel-trigger-btn-right {
  border: none;

}

#create-carousel-routine-btn-left {
  border: none;
  vertical-align: top;

}

#create-carousel-routine-btn-right {
  border: none;
}

#create-carousel-targetbehavior-btn-left {
  border: none;
  vertical-align: top;
}

#create-carousel-targetbehavior-btn-right {
  border: none;
}
