.custom-row-full-width {
  width: 100%
}

.section-icon-bottom {
	margin-right: 10px;
	border: none;
}
#create-carousel-trigger-btn-left {
  border: none;
}

#create-carousel-trigger-btn-right {
  border: none;

}

#create-carousel-routine-btn-left {
  border: none;
  vertical-align: top;

}

#create-carousel-routine-btn-right {
  border: none;
}

#create-carousel-targetbehavior-btn-left {
  border: none;
  vertical-align: top;
}

#create-carousel-targetbehavior-btn-right {
  border: none;
}
