#update-carousel-trigger-btn-left {
  border: none;
}

#update-carousel-trigger-btn-right {
  border: none;

}

#update-carousel-routine-btn-left {
  border: none;
  vertical-align: top;
}

#update-carousel-routine-btn-right {
  border: none;
}

#update-carousel-targetbehavior-btn-left {
  vertical-align: top;
  border: none;
}

#update-carousel-targetbehavior-btn-right {
  border: none;
}

#update_habit_img {
  margin-right: 40px;
  border-radius: 100%;
}
