{% extends 'base.html' %}

{% load staticfiles %}
<!-- {% load social_share %}
{% load social_widgets %} -->
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'habits/style.css' %}" />
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block title %}Details{% endblock %}

{% block navbar %}
<br>
<br>
<br>
<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div style="display:inline-flex">
        <a href="{% url 'display_habits' %}">
          <span style="margin: 15 0 0 30;" class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <label style="margin: 12px 0px 0px 100px; font-size:18px;">{{habit.title}}</label>
      </div>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li style="display:-webkit-box"><a href="{% url 'view_profile' %}">{{ user }}</a>
          <img src="{{ user.userprofile.image_url }}" class="avatar img-responsive">
          <a id="logout-glyphicon" href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span>    </a>
        </li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'registration' %}">Register</a></li>
      </ul>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
</div>
{% endblock %}

{% block body %}
<br>
<div class="container">
  <!-- <div class="row">
    <div class="col-xs-6">
        <h1 id="detail-title">{{habit.title}}</h1>

    </div>
    <div class="col-xs-6">
      <a href="{% url 'delete_habit' habit.pk %}">
        <span id="trash-glyphicon" class="glyphicon glyphicon-trash custom-trash-habit-detail"></span>
      </a>
    </div>
  </div> -->
  <br>
  <div id="detail-row-habit" class="row">
    <p class="custom-trigger-habit-detail">{{habit.trigger}}...<p>
    <p class="custom-routinebehavior-habit-detail">{{habit.existingroutine}}<p><br>
    <p class="custom-trigger-habit-detail">I will...</p>
    <p class="custom-routinebehavior-habit-detail">{{habit.targetbehavior}}</p><br>
  </div>
  {% if habit.image_url %}
  <div id="detail-row-image" class="row">
    <img src="{{habit.image_url}}" width="150" height="150">
  </div>
  <br>
  {% endif %}
  <br>
  <div id="detail-row-shareables" class="row">
    <!-- Twitter -->
    <a  href="{% url 'tweet_habit' habit.id %}" class="btn btn-lg btn-default outline custom-share-habit-detail" id="twitter">
       <span class="fa fa-twitter-square" aria-hidden="true"></span>
    </a>
    <!-- Facebook -->
    <a  href="{% url 'post_habit' habit.id %}" class="btn btn-lg btn-default outline custom-share-habit-detail" id="facebook">
       <span class="fa fa-facebook-official" aria-hidden="true"></span>
    </a>
    <!-- Goolge plus -->
    <a  href="{% url 'gplus_habit' habit.id %}" class="btn btn-lg btn-default outline custom-share-habit-detail" id="gplus">
       <span class="fa fa-google-plus-official" aria-hidden="true"></span>
    </a>
    <!-- Mail -->
    <a  href="{% url 'mail_habit' habit.id %}" class="btn btn-lg btn-default outline custom-share-habit-detail" id="mail">
       <span class="fa fa-envelope-square" aria-hidden="true"></span>
    </a>
  </div>
  <button id="id_btn_edit_habit" class="btn btn-success">
    <span id="id_glyphicon_ok" class="glyphicon glyphicon-edit"></span>
  </button>
  <!-- <button id="id_btn_trash_habit" class="btn btn-success">
    <span id="id_glyphicon_ok" class="glyphicon glyphicon-trash"></span>
  </button> -->
  <a class="btn btn-success" id="id_btn_trash_habit" href="{% url 'delete_habit' habit.pk %}">
    <span id="trash-glyphicon" class="glyphicon glyphicon-trash"></span>
  </a>
</div>

<!-- <nav class="navbar navbar-default navbar-fixed-bottom  ">
  <div class="container">
    <ul class="nav nav-pills nav-justified custom-navpills-bottom">
      <li role="navigation">
        <a  href="{% url 'display_habits' %}">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </li>
      <li role="navigation">
        <a href="{% url 'manage_habits' %}">
          <span class="glyphicon glyphicon-list custom-navbar-glyphicon "></span>
        </a>
      </li>
      <li role="navigation">
        <a href="{% url 'update_habit' habit.pk %}">
        <span class="glyphicon glyphicon-edit custom-navbar-glyphicon"></span>
      </a>
      </li>
    </ul>
  </div>
</nav> -->

<script src="https://use.fontawesome.com/d25020f20b.js"></script>
{% endblock %}
