{% extends 'base.html' %}

{% block head %}
<script type="text/javascript">

    function showLocation(position) {
       var latitude = position.coords.latitude;
       var longitude = position.coords.longitude;

       document.getElementById('longitude').innerHTML = "Longitude: " + longitude;
       document.getElementById('latitude').innerHTML = "Latitude: " + latitude;
    }

    function errorHandler(err) {
       if(err.code == 1) {
          alert("Error: Access is denied!");
       }

       else if( err.code == 2) {
          alert("Error: Position is unavailable!");
       }
    }

    function getLocation(){

       if(navigator.geolocation){
          // timeout at 60000 milliseconds (60 seconds)
          var options = {timeout:60000};
          navigator.geolocation.getCurrentPosition(showLocation, errorHandler, options);
       }

       else{
          alert("Sorry, browser does not support geolocation!");
       }
    }


    function initMap() {

      navigator.geolocation.getCurrentPosition(function(position) {
        myLongitude = position.coords.longitude;
        myLatitude = position.coords.latitude;

        myLatlng = new google.maps.LatLng(
        myLatitude, myLongitude);

        var options = {
          zoom : 13,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map'), options);

        var marker = new google.maps.Marker({
          draggable: true,
          position: myLatlng,
          title:"Hello World!"
        });

        // var infowindow = new google.maps.InfoWindow({
        //   content: '(marker.getPosition().lat())'
        // });

        marker.setMap(map);
        infowindow = new google.maps.InfoWindow();
        marker.addListener('drag', function() {
          infowindow.setContent('Longitude: ' + marker.getPosition().lng() + '\n' + 'Latitude: ' + marker.getPosition().lat())
          infowindow.open(map, marker);

          document.getElementById('id_lng').value = marker.getPosition().lng();
          document.getElementById('id_lat').value = marker.getPosition().lat();
        });

      });
    }
    //
    // window.onload = initMap();






    // key = 'AIzaSyDnyGqQIuFgIGVq-9QDmdaMDfVfrh9ia1I'

 </script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnR2OA0bgKTliHjhRpQfsUFQfM6n4yepk&callback=initMap"
    async defer></script>
{% endblock %}

{% block body %}
<div class="container">
  <table>
    <tr id="longitude">
      <th>Longitude:</th>
      <td></td>
    </tr>
    <tr id="latitude">
      <th>Latitude:</th>
      <td></td>
    </tr>
  </table>

  <form>
    <input type="button" onclick="getLocation();" value="Get Location"/>
  </form>

  <div class="container">
    <div style="height: 60%" id="map"></div><br>
    <label>Longitude:</label>
    <input id="id_lng" name="id_lng" type="text" placeholder="Longitude" autocomplete="on">
    <br>
    <label>Latitude: </label>
    <input id="id_lat" name="id_lat" type="text" placeholder="Latitude" autocomplete="on">
  </div>

  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">GetLocation</button>
  </form>


  <!-- <img src="https://maps.google.com/maps/api/staticmap?center=Berlin,Germany&zoom=10&size=500x500&sensor=false" /> -->
<div>



{% endblock %}
