{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Are your sure?</h2>
  <p>
    Are you sure you want to deactivate your account? You won't log in to your
    user account anymore. For Reactivation please refer to the admin.
  </p>
  <form action="{% url 'disable_account_confirm' %}" method="post">
    {% csrf_token %}
    <div>
      <input class="btn btn-danger" type="submit" value="Yes, I'm sure" />
      <a  href="{% url 'view_profile' %}" class="btn btn-default">No, take me back</a>
  </div>
  </form>
</div>
{% endblock %}
