{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style_reset_password.css' %}" />
{% endblock %}

{% block title %}Password reset{% endblock %}

{% block body %}
<div class="row" style="margin-top: 60px;margin-right:auto;margin-left:auto;">
  <p style="text-align:center; font-weight:bold;">
    Wir haben ihnen eine E-Mail mit weiteren Instruktionen, wie sie ein neues
    Passwort setzen können, zugesendet. Sie sollten diese in Kürze erhalten.
    Falls sie keine E-Mail zugesendet bekommen haben, ist möglicherweise die
    von ihnen eingegebene E-Mail-Adresse falsch oder die E-Mail liegt im Spam
    Ordner.

    Beachten sie die E-Mail-Adresse anzugeben, mit der sie sich auch registriert
    haben!
    <!-- We've emailed you instructions for setting your password, if an account
    exists with the email you entered. You should receive them shortly.
    If you don't receive an email, please make sure you've entered the
    address you registered with, and check your spam folder. -->
  </p>
</div>
{% endblock %}
