{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}
  <!-- <link rel="stylesheet" href="{% static 'habits/css/style.css' %}" type="text/css"> -->
  <link rel="stylesheet" href="{% static 'accounts/css/style_profile.css' %}" type="text/css">
{% endblock %}

{% block title %}Edit profile{% endblock %}

{% block body %}
  <div class="container" style="padding-top: 35px;">
    <!-- <h1>Change your profile</h1> -->
    <form action="{% url 'edit_profile' %}" method="post">
      {% csrf_token %}
      {% for field in form %}
        <table>
          {{ field.label_tag }}
          {{ field }}
        </table>
      {% endfor %}
      <br>
      <button type="submit" class="btn btn-default">Submit</button>
      <a class="btn btn-default" href="change_password">Change Password</a>
    </form>
  </div>
  <br>

{% endblock %}
