{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style_login.css' %}" />
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}

  <div class="row" style="margin-top: 30px; width:100%">
    <h4 style="text-align:center; font-weight: bold;margin-top: 30px">Melde Dich bei DO IT! an</h4>
  </div>
  <br>
  <form method="post">
    {% csrf_token %}
    <div class="row" style="text-align: center;width:100%;">
      <div class="col-xs-10 col-xs-offset-1">
        <input type="text" name="username" id="id_username" required placeholder="E-Mail oder Nutzername" class=".btn-round-lg"></input>
      </div>
    </div>
    <br>
    <div class="row" style="text-align: center; width:100%;">
      <div class="col-xs-10 col-xs-offset-1">
        <input type="password" name="password" required id="id_password" placeholder="Passwort"></input>
      </div>
    </div>
    <br>
    <div class="row" style="text-align: center; width:100%;">
      <div class="col-xs-10 col-xs-offset-1">
        <button id="id_btn_login" class="btn btn-primary" type="submit">Anmelden</button>
      </div>
    </div>
  </form>
  <div class="row" style="text-align: center; width:100%;">
    <div class="col-xs-8 col-xs-offset-2">
      <a class="login-alternatives" href="reset_password">Passwort vergessen?</a> ·
      <a class="login-alternatives" href="{% url 'registration' %}">Bei DO IT! registrieren</a>
    </div>
  </div>

{% endblock %}
