{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% load staticfiles %}
{% block head %}
  <!-- <link rel="stylesheet" href="{% static 'habits/css/style.css' %}" type="text/css"> -->
  <link rel="stylesheet" href="{% static 'accounts/css/style_profile.css' %}" type="text/css">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div id="profile-left-div" class="col-xs-6">
        <!-- <h2>Profile
        <a class="btn btn-default custom-edit-glyphicon" href="{% url 'edit_profile' %}">
          <span class="glyphicon glyphicon-edit"></span>
        </a></h2> -->
        <p>Username: {{user}}</p>
        <p>First name: {{user.first_name}}</p>
        <p>Last name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Phone: {{user.userprofile.phone}}</p>
        <p>City: {{user.userprofile.city}}</p>
        <br>
      </div>
      <img id="profile-image" src="{{ user.userprofile.image_url }}" class="img-responsive" width="100">
      <br>
      <form action="{% url 'upload_profile_image' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <input id="id_image" type="file" class="" name="image">
        <br>
        <input id="id_upload_image" class="btn btn-default" type="submit" value="Upload image" />
      </form>
      <a class="btn btn-default custom-btn-disable" href="{% url 'disable_account_confirm' %}">Disable account<a/>
    </div>

  </div>




{% endblock %}
