{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />
{% endblock %}

{% block title %}Password confirm{% endblock %}

{% block body %}
<div class="container">
  <h2>Enter new password</h2>
  <hr>
  <p style="text-align:center;">
    Please enter your new password twice so we can verify you typed it in correctly.
  </p>
  <br>
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}

    <div class="row">
      <div class="col-xs-4">
        {{field.label_tag}}
      </div>
      <div class="col-xs-8">
        {{field}}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <br>
    {% endfor %}
    <button id="id_btn_pw_reset_confirm" class="btn btn-success" type="submit">Change my password</button>
  </form>
</div>
{% endblock %}


<!--   <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}
        {{ field }}<br>
       {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn btn-default" type="submit">Change my password</button>
  </form -->
