{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login_style.css' %}" />
{% endblock %}

{% block title %}Password reset{% endblock %}

{% block body %}
<div class="row" style="margin-top: 60px;margin-right:auto;margin-left:auto;">
  <p style="text-align:center; font-weight:bold;">
    <!-- Forgotten your password? Enter your email address below, and
    we'll email instructions for setting a new one. -->
    Haben sie ihr Passwort vergessen? Geben sie unten einfach ihre E-Mail-Adresse ein und wir senden
    ihnen umgehend eine Nachricht, in der sie weitere Instruktionen erhalten, um ein neues Passwort
    setzen zu können.
  </p>
</div>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-10 col-xs-offset-1">
      <input type="email" name="email" id="id_email" placeholder="E-Mail" required></input>
    </div>
  </div>
  <br>
  {% endfor %}
  <div class="row" style="text-align: center;">
    <div class="col-xs-10 col-xs-offset-1">
      <button id="id_btn_pw_reset" class="btn btn-primary" type="submit">Passwort zurücksetzen</button>
    </div>
  </div>
</form>

{% endblock %}
