{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login_style.css' %}" />
{% endblock %}

{% block title %}Password confirm{% endblock %}

{% block body %}
<div class="row" style="margin-top: 60px;margin-right:auto;margin-left:auto;">
  <p style="text-align:center; font-weight:bold;">
    Ihr Passwort wurde erfolgreich zurückgesetzt. Möglicherweise möchten sie
    fortfahren und sich
    <!-- Your password has been set. You may go ahead and. -->
  </p>
  <p style="text-align:center; font-weight:bold;">
  <a href="{% url 'login' %}">einloggen</a>.
  </p>
</div>
{% endblock %}
