{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Profile
    <a class="btn btn-default custom-edit-glyphicon" href="{% url 'edit_profile' %}">
      <span class="glyphicon glyphicon-edit"></span>
    </a></h2>
    <p>Username: {{user}}</p>
    <p>First name: {{user.first_name}}</p>
    <p>Last name: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Phone: {{user.userprofile.phone}}</p>
    <p>City: {{user.userprofile.city}}</p>
    <img src="{{ user.userprofile.image_url }}" class="img-responsive" width="100">
    <br>
    <form action="{% url 'upload_profile_image' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
      <p>
          <input id="id_image" type="file" class="" name="image">
      </p>
      <input type="submit" value="Upload image" />
    </form>
  </div>



{% endblock %}
