{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" href="{% static 'habits/style.css' %}" type="text/css">
{% endblock %}

{% block title %}Targetbehavior{% endblock %}

{% block body %}
  <div class="container">
    <form action="{% url 'create_targetbehavior' %}" method="post">
      {% csrf_token %}
      <p>  {{ form.name.label }} </p>
      <p>  {{ form.name }} </p>
      <br>
      <input class="btn btn-default custom-btn-submit-routine" type="submit" value="Add targetbehavior"></button>
      <a href="{% url 'display_targetbehavior' %}" class="btn btn-default">Take me back</a>
    </form>
  </div>

{% endblock %}
